.mosab {
    color: blue;
}

/* .dark {
    background: "#110f16" */
/* } */
/* 
.postcard {
    display: "flex";
     overflow:"hidden" ;
     color:"#ffffff" ;
     box-shadow:" rgba(0, 0, 0, 0.66)";
     background-image:"-webkit-linear-gradient( 136deg, rgb(0,0,70) 0%, rgb(10,181,224) 100%)";
} */

/* .navtrending123 {
    color: inherit;
} */